{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	-Accueil
{% endblock %}

{% block body %}

<div class="container align-items-center accueil-container">
    <div class="container">
        <h2 class="mt-5 mb-5 text-center">Bienvenue sur le site de l'AFAC974 - Association des Artistes des Régions d'Outre-Mer</h2>
        <p class="mb-5">L'AFAC974 est bien plus qu'une simple association artistique. C'est un vibrant rassemblement de talents 
        venant des régions d'outre-mer, unis par la passion de l'art et le désir de partager la richesse culturelle 
        qui caractérise ces territoires exceptionnels.</p>

        <div class="row border-general">
        <div class="col">
        <h4 class="mt-3 mb-3">Notre Mission</h4>
        <p>Fondée sur l'idée que l'art transcende les frontières géographiques, l'AFAC974 s'engage à promouvoir et 
        soutenir les artistes talentueux des régions d'outre-mer. Nous croyons en la diversité des expressions artistiques 
        et nous nous efforçons de créer un espace où chaque voix artistique peut trouver son écho.</p>
        </div>

        <div class="col">
        <h4 class="mt-3 mb-3">Explorez la Créativité d'Outre-Mer</h4>
        <p>Plongez dans notre galerie en ligne pour découvrir une panoplie d'œuvres uniques qui captent l'essence même de la 
        vie dans les régions d'outre-mer. Des couleurs vibrantes des Caraïbes aux paysages envoûtants de l'océan Indien, nos 
        artistes transmettent l'âme de leurs terres à travers des toiles, des sculptures, des photographies et bien plus encore.</p>
        </div>
        </div>

        <div class="mt-5"></div>

        <h4 class="mt-5 mb-3">Soutenez l'Art, Soutenez la Culture</h4>
        <p>En encourageant et en acquérant les œuvres présentées sur notre site, vous contribuez directement à la vitalité 
        culturelle des régions d'outre-mer. L'AFAC974 est fière de servir de pont entre les artistes talentueux et les amateurs 
        d'art du monde entier, favorisant ainsi l'échange culturel et la reconnaissance des créateurs d'exception.</p>
        <p>Explorez, appréciez et soutenez l'art d'outre-mer avec l'AFAC974. Ensemble, construisons un monde où la créativité transcende les distances.</p>
        <p class="text-center mt-5 mb-5">Bienvenue dans notre communauté artistique !</p>
    </div>
    <div class="row border-general">
        <div class="col">
            <div id="carouselExampleCaptions1" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="4000">
                <img src="{{ asset('uploads/artwork/' ~ artworks[0].picture) }}" class="d-block w-100" alt="{{artworks[0].title}}">
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{artworks[0].title}}</h5>
                    <p>{{artworks[0].description}}</p>
                </div>
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                <img src="{{ asset('uploads/artwork/' ~ artworks[1].picture) }}" class="d-block w-100" alt="{{artworks[1].title}}">
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{artworks[1].title}}</h5>
                    <p>{{artworks[1].description}}</p>
                </div>
                </div>
                <div class="carousel-item" data-bs-interval="4000">
                <img src="{{ asset('uploads/artwork/' ~ artworks[2].picture) }}" class="d-block w-100" alt="{{artworks[2].title}}">
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{artworks[2].title}}</h5>
                    <p>{{artworks[2].description}}.</p>
                </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
            </div>
        </div>
         <div class="col">
            <div id="carouselExampleCaptions2" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="2500">
                <img src="{{ asset('uploads/artistPhoto/' ~ artists[0].poster) }}" class="d-block w-100" alt="{{artworks[0].title}}">
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{artists[0].name}} {{artists[0].lastname}}</h5>
                    <p>{{artists[0].description}}</p>
                </div>
                </div>
                <div class="carousel-item" data-bs-interval="3500">
                <img src="{{ asset('uploads/artistPhoto/' ~ artists[1].poster) }}" class="d-block w-100" alt="{{artworks[1].title}}">
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{artists[1].name}} {{artists[1].lastname}}</h5>
                    <p>{{artists[1].description}}</p>
                </div>
                </div>
                <div class="carousel-item" data-bs-interval="2500">
                <img src="{{ asset('uploads/artistPhoto/' ~ artists[2].poster) }}" class="d-block w-100" alt="{{artworks[2].title}}">
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{artists[2].name}} {{artists[2].lastname}}</h5>
                    <p>{{artists[2].description}}</p>
                </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
            </div>
        </div>
    </div>
    <a href="{{ path('home_gallery') }}">
    <div class="d-grid col-4 mx-auto bouton-general mt-5 mb-3">
        <button class="btn btn-primary btn-font-plus" type="button">Notre galerie</button>
    </div>
    </a>
</div>
    
{% endblock %}
