{% extends 'base.html.twig' %}

{% block title %}Dashboard Admin{% endblock %}

{% block body %}

{% if is_granted('ROLE_ADMIN') %}

    <h2 class="container mt-5 mb-3">Bonjour {{ app.user.name }}</h2>

    <div class=" container flex-column mx-auto border-general ">
        <ul>
            <li><a href="{{ path("admin_show_users") }}">Gestion des Utilisateurs</a></li>
            <li><a href="{{ path("admin_show_artists") }}">Gestion des Artistes</a></li>
            <li><a href="{{ path("admin_show_artworks") }}">Gestion des Oeuvres</a></li>
            <li><a href="{{ path("admin_show_contacts") }}">Gestion des demandes spécifiques</a></li>
        </ul>
    </div>

{% else %}
    <p>Aucun admin n'est actuellement connecté.</p>
{% endif %}

{% endblock %}
