{% extends 'base.html.twig' %}

{% block title %}Gestion - Contact {% endblock %}

{% block body %}
<h1 class="mx-auto pt-4">Liste des demandes de contact</h1>

    <table class="table px-4 table-striped table-hover">
        <thead>
            <tr>
                 <th scope="col">#</th>
                 <th scope="col">Nom</th>
                 <th scope="col">Prénom</th>
                 <th scope="col">Email</th>
                 <th scope="col">Type de demande</th>
                 <th scope="col">Demande</th>
                 <th scope="col">Opérations</th>
            </tr>
        </thead>
        <tbody>
            {% for contact in contacts %}
                <tr>
                    <td>{{ contact.id }}</td>
                    <td>{{ contact.name }}</td>
                    <td>{{ contact.lastname }}</td>
                    <td>{{ contact.email }}</td>
                    <td>{{ contact.demand }}</td>
                    <td>{{ contact.content }}</td>
                    <td>
                        <form method="post" action="{{ path('admin_delete_contact', {'id': contact.id}) }}" onsubmit="return confirm('Are you sure you want to delete this contact?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contact.id) }}">
                            <button type="submit" class="btn btn-secondary">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
