{% extends 'base.html.twig' %}

{% block title %}Gestion des utilisateurs{% endblock %}

{% block body %}
<h1 class="mx-auto pt-4">Liste des Artistes</h1>

    <table class="table px-4 table-striped table-hover">
        <thead>
            <tr>
                 <th scope="col">#</th>
                 <th scope="col">Nom</th>
                 <th scope="col">Prénom</th>
                 <th scope="col">Description</th>
                 <th scope="col">Photo</th>
                 <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
            {% for artist in artists %}
                <tr>
                    <td>{{ artist.id }}</td>
                    <td>{{ artist.name }}</td>
                    <td>{{ artist.lastname }}</td>
                    <td>{{ artist.description }}</td>
                    <td>
                        {% if artist.poster != 'default_poster_value.svg' %}
                            <img  class="img-fluid" src="{{ vich_uploader_asset(artist)}}" alt="{{ artist.name }} Poster">
                        {% else %}
                            <img  class="img-fluid" src="{{ upload_directory_artistPhoto ~ artist.poster }}" alt="{{ artist.name }} Poster">
                        {% endif %}
                    </td>
                    <td>{{ artist.email }}</td>
                    <td>
                        <a href="{{ path('admin_edit_artist', {'id': artist.id}) }}" class="btn btn-primary">Edit</a>
                        <a href="{{ path('admin_delete_artist', {'id': artist.id}) }}" class="btn btn-secondary">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
