{% extends 'base.html.twig' %}

{% block title %}Gestion des oeuvres{% endblock %}

{% block body %}
<h1 class="mx-auto pt-4">Liste des Oeuvres</h1>

    <table class="table px-4 table-striped table-hover">
        <thead>
            <tr>
                 <th scope="col">#</th>
                 <th scope="col">Titre</th>
                 <th scope="col">Description</th>
                 <th scope="col">Artiste</th>
                 <th scope="col">Photo</th>
                 <th scope="col">Année</th>
                 <th scope="col">Hauteur</th>
                 <th scope="col">Largeur</th>
            </tr>
        </thead>
        <tbody>
            {% for artwork in artworks %}
                <tr>
                    <td>{{ artwork.id }}</td>
                    <td>{{ artwork.title }}</td>
                    <td>{{ artwork.description }}</td>
                    <td>{{ artwork.artist.name }} {{artwork.artist.lastname}}</td>
                    <td>
                        {% if artwork.picture != 'default_poster_value.svg' %}
                            <img  class="img-fluid" src="/uploads/artwork/{{ artwork.picture }}" alt="{{ artwork.title }} Picture">
                        {% else %}
                            <img  class="img-fluid" src="{{ upload_directory_artwork ~ artwork.picture }}" alt="{{ artwork.title }} Picture">
                        {% endif %}
                    </td>
                    <td>{{ artwork.year }}</td>
                    <td>{{ artwork.height }}</td>
                    <td>{{ artwork.width }}</td>
                    <td>
                        <a href="{{ path('admin_edit_artwork', {'id': artwork.id}) }}" class="btn btn-primary">Edit</a>
                        <a href="{{ path('admin_delete_artwork', {'id': artwork.id}) }}" class="btn btn-secondary">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
