{% extends 'dashboard.html.twig' %}

{% block title %}Gestion des news{% endblock %}

{% block body %}
<h1 class="mx-auto mb-4 pt-4">Liste des news</h1>
<div class='mt-2 mb-5 d-flex justify-content-center'> 
    <a href="{{ path('admin_news_new')}}" class="btn btn-primary">Ajouter une news</a>
</div>
    <table class="table px-4 container table-striped table-hover">
        <thead>
            <tr>
                 <th scope="col">#</th>
                 <th scope="col">Titre</th>
                 <th scope="col">Description</th>
                
                 <th scope="col">Opérations</th>
            </tr>
        </thead>
        <tbody>
            {% for new in news %}
                <tr>
                    <td>{{ new.id }}</td>
                    <td>{{ new.title }}</td>
                    <td>{{ new.description }}</td>
                    <td>
                        <form method="post" action="{{ path('admin_news_delete', {'id': new.id}) }}" onsubmit="return confirm('Are you sure you want to delete this news?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ new.id) }}">
                            <button type="submit" class="btn btn-danger">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                                </svg>
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
     <div class= 'd-flex justify-content-center'>
    {{ knp_pagination_render(news) }}
    </div>

{% endblock %}