{% extends 'base.html.twig' %}

{# Remplacer par le nom de l'oeuvre en dynamique #}
{% block title %}Oeuvre{% endblock %}

{% block body %}
<h1 class="text-center mt-5">{{artwork.title}}</h1>

<div class="container border-general mt-5 px-4">

    <div class="row justify-content-center gap-4">

        <img class="col-6" src="/uploads/artwork/{{ artwork.picture }}" alt="{{ artwork.title }}">
        
        <div class="card-body col-5">

            <h2 class="card-title mb-5">A propos de l'oeuvre</h2>

            <p class="pe-3">{{artwork.description}}</p>

            <div class="row">
                <div class="col">
                    <h3 class="mt-5">Artiste</h3>

                    <p class="pe-3">Chaïma Assani</p>    
                </div>
                <div class="col">
                    <h3 class="mt-5">Année</h3>

                    <p class="pe-3">{{artwork.year}}</p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h3 class="mt-5">Technique</h3>

                    <p class="pe-3">Aquarelle</p>
                </div>
                <div class="col">
                    <h3 class="mt-5">Dimensions</h3>

                    <p class="pe-3">{{artwork.height}} x {{artwork.width}} cm</p>
                </div>
            </div>


        </div>

    </div>

</div>

<div class="container pt-5">
    <div class="row">
        <div class="col">
            <p><img class="favorite" src="{{ asset('build/images/favorite.svg') }}"> Ajouter aux favoris</p>
        </div>
        <div class="col">
            <p><img class="favorite" src="{{ asset('build/images/brush.svg') }}"> Plus d'infos sur l'artiste</p>
        </div>

    </div>
{% if comments is not empty %}
    <h2>Commentaires</h2>
    <ul>
        {% for comment in comments %}
            <li>
                {{ comment.rate }} / 5 
                <p> {{ comment.content }} </p>
                <p>Par {{ comment.author.email }} le {{ comment.createdAt|date('d/m/Y H:i') }}</p>
                {% if is_granted('ROLE_ADMIN') %}
                    {# Afficher le bouton de suppression pour les administrateurs pour tous les commentaires #}
                    <a href="{{ path('comment_delete', {'id': comment.id}) }}">Supprimer</a>
                {% elseif is_granted('ROLE_USER') and comment.author == app.user %}
                    {# Afficher le bouton de suppression pour ceux qui en sont uniquement les auteurs #}
                    <a href="{{ path('comment_delete', {'id': comment.id}) }}">Supprimer</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>Cette oeuvre n'a reçu aucun commentaire encore. Soyez le premier !</p>
    {% endif %}
    {% if app.user %}
    {{ form_start(form) }}
    <div class="border-general mb-5">
        <div class="mb-3">
            {{ form_row(form.rate) }}
        </div>
        <div class="mb-3">
           {{ form_row(form.content,{'label': 'Votre commentaire'|trans})  }}
        </div>
        <button type="submit" class="btn btn-primary">Ajouter votre commentaire</button>
    </div>
    {{ form_end(form) }}
{% else %}
    <p>Connectez-vous pour ajouter un commentaire.</p>
{% endif %}
</div>
{% endblock %}