{% extends 'base.html.twig' %}

{% block title %}{{artwork.title}}{% endblock %}

{% block body %}

{# Partie concernant l'oeuvre #}
<h1 class="text-center mt-5">{{artwork.title}}</h1>

<div class="container border-general mt-5 px-4">

    <div class="row justify-content-center gap-4">

        <img class="col-6" src="/uploads/artwork/{{ artwork.picture }}" alt="{{ artwork.title }}">
        
        <div class="card-body col-5">

            <h2 class="card-title mb-5">A propos de l'oeuvre</h2>

            <p class="pe-3">{{artwork.description}}</p>

            <div class="row">
                <div class="col">
                    <h3 class="mt-5">Artiste</h3>

                    <p class="pe-3">{{artwork.user.name}} {{artwork.user.lastname}}</p>    
                </div>
                <div class="col">
                    <h3 class="mt-5">Année</h3>

                    <p class="pe-3">{{artwork.year}}</p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h3 class="mt-5">Type</h3>

                    <p class="pe-3">{{artwork.type.name}}</p>
                </div>
                <div class="col">
                    <h3 class="mt-5">Dimensions</h3>

                    <p class="pe-3">{{artwork.height}} x {{artwork.width}} cm</p>
                </div>
            </div>
        </div>
    </div>
</div>

{#Ajout aux favoris si l'utilisateur est connecté, plus d'infos sur l'artiste #}
{% if app.user %}
<div class="container pt-5">
    <div class="row">
        <div class="col">
        {% if artwork in app.user.favorites %}
            <a href="{{ path('artwork_add_favorite', {'id' : artwork.id})}}"><p><img class="favorite" src="{{ asset('build/images/favorite.svg') }}"> Retirer des favoris</p></a>
        {% else %}
            <a href="{{ path('artwork_add_favorite', {'id' : artwork.id})}}"><p><img class="favorite" src="{{ asset('build/images/not_favorite.svg') }}"> Ajouter aux favoris</p></a>
        {% endif %}
        </div>
        <div class="col">
            <a href="{{ path('home_OneArtist', {'name' : artwork.user.name})}}"><img class="favorite" src="{{ asset('build/images/brush.svg') }}">Plus d'infos sur l'artiste</a>   
        </div>
    </div>
</div>
{# Si non connecté, accès aux infos de l'artiste #}
{% else %}
<div class="container pt-5">
    <div class="row">
        <div class="col">
            <a href="{{ path('home_OneArtist', {'name' : artwork.user.name})}}"><img class="favorite" src="{{ asset('build/images/brush.svg') }}">Plus d'infos sur l'artiste</a>   
        </div>
   </div>
</div>
{% endif %}

    {# Divider oeuvre et commentaires #}
     <div class="container divider mt-5 mb-5">&nbsp;</div>

{# Partie commentaires #}
<div class="container">
<h2>Commentaires</h2>
{% if comments is not empty %}
    <ul>
        {% for comment in comments %}
            <li>
                {{ comment.rate }} / 10 
                <p> {{ comment.content }} </p>
                <p>Par {{ comment.author.pseudonym }} le {{ comment.createdAt|date('d/m/Y H:i') }}</p>
                {% if is_granted('ROLE_ADMIN') %}
                    {# Afficher le bouton de suppression pour les administrateurs pour tous les commentaires #}
                    <a href="{{ path('comment_delete', {'id': comment.id}) }}">Supprimer</a>
                {% elseif is_granted('ROLE_USER') and comment.author == app.user %}
                    {# Afficher le bouton de suppression pour ceux qui en sont uniquement les auteurs #}
                <button type="button" class="btn btn-primary" onclick="window.location='{{ path('comment_delete', {'id': comment.id}) }}'">Supprimer</button>
                <button type="button" class="btn btn-primary" onclick="window.location='{{ path('comment_edit', {'id': comment.id}) }}'">Modifier</button>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>Cette oeuvre n'a reçu aucun commentaire encore. Soyez le premier !</p>
    {% endif %}
    {% if app.user %}
    {{ form_start(form) }}
    <div class="border-general mb-5">
        <div class="mb-3">
            {{ form_row(form.rate) }}
        </div>
        <div class="mb-3">
           {{ form_row(form.content,{'label': 'Votre commentaire'|trans})  }}
        </div>
        <button type="submit" class="btn btn-primary">Ajouter votre commentaire</button>
    </div>
    {{ form_end(form) }}
{% else %}
    <p class="mb-5">Connectez-vous pour ajouter un commentaire.</p>
{% endif %}
</div>
</div>
{% endblock %}