{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Ma galerie {% endblock %}

{% block body %}
<h1 class="p-3 d-flex justify-content-center">Ma galerie</h1>
    <div class="mb-4 container border-general">
        <div class="row">
            {% for artwork in artist.artworks %}
            <div class="col-4">
                <div class="m-3 card">
                    <img src="/uploads/artwork/{{ artwork.picture }}" alt="{{artwork.title}}">
                    <h2 class="pt-2 text-center"> {{artwork.title}}</h2>
                    
                    <p class="mx-auto">
                        <a href="{{ path('artwork_edit_artwork', {'id': artwork.id}) }}" class="btn btn-primary">Edit</a>
                        <a href="{{ path('artwork_delete_artwork', {'id': artwork.id}) }}" class="btn btn-secondary">Delete</a>
                    </p>
                    
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}