{{ form_start(form) }}
 		<div class="mb-3">
            {{ form_row(form.email) }}
        </div>
		<div class="mb-3">
            {{ form_row(form.password) }}
        </div>
		<div class="mb-3">
            {{ form_row(form.name) }}
        </div>
		<div class="mb-3">
            {{ form_row(form.lastname) }}
        </div>
		<div class="mb-3">
            {{ form_row(form.pseudonym) }}
        </div>
	<button type="submit" class="btn btn-lg btn-primary mb-2">
	{{ button_label|default('Créer mon compte') }}
	</button>
{{ form_end(form) }}
