{% extends 'base.html.twig' %}

{% block title %}Gestion - Contact {% endblock %}

{% block body %}
<h1 class="mx-auto pt-4">Liste des demandes de contact</h1>
<div class= 'd-flex justify-content-center'>
    {{ form(form, {'attr': {'class': 'mx-auto'}}) }}
    </div>
    {{ form_end(form) }} 
    {% if contacts|length > 0 %}
    <table class="table px-4 table-striped table-hover">
        <thead>
            <tr>
                 <th scope="col">#</th>
                 <th scope="col">Nom</th>
                 <th scope="col">Prénom</th>
                 <th scope="col">Email</th>
                 <th scope="col">Type de demande</th>
                 <th scope="col">Demande</th>
                 <th scope="col">Opérations</th>
            </tr>
        </thead>
        <tbody>
            {% for contact in contacts %}
                <tr>
                    <td>{{ contact.id }}</td>
                    <td>{{ contact.name }}</td>
                    <td>{{ contact.lastname }}</td>
                    <td>{{ contact.email }}</td>
                    <td>{{ contact.demand }}</td>
                    <td>{{ contact.content }}</td>
                    <td>
                        <form method="post" action="{{ path('admin_delete_contact', {'id': contact.id}) }}" onsubmit="return confirm('Are you sure you want to delete this contact?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contact.id) }}">
                            <button type="submit" class="btn btn-danger"> 
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                                </svg>
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    {% else %}
    <div class="d-flex mb-4 justify-content-center">
        <p>Aucune demande de contact ne correspond à votre recherche.</p>
    </div>
    {% endif %} 
{% endblock %}
